{
  "expo": {
    "name": "__APP_NAME__",
    "slug": "__APP_SLUG__-interface",
    "scheme": ["__APP_SLUG__"],
    "version": "0.0.0",
    "orientation": "portrait",
    "userInterfaceStyle": "light",
    "plugins": [
      "expo-router"
    ],
    "web": {
      "bundler": "metro"
    },
    "android": {
      "package": "com.__APP_SLUG__.android"
    },
    "extra": {
      "router": {}
    }
  }
}
